body {
	margin: 0 auto;
	padding: 0;
	border: 0;
}

nav {
	height: 60px;
	background-color: steelblue;
}

.name {
	width: 325px;
}

.navHead {
	padding: 15px;
	font-family: 'Poppins', sans-serif;
}

#mainDiv {
	outline: 1px 1px;
	outline-color: #D3D3D3;
}

.modalButton {
	float: right;
	margin-top: -60px;
    margin-right: 10px;
}

.submitButton {
	float: left;
}
